/* LAYOUT */
h1, h2, p, span, div {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #FFFFFF;
}

div#container {
  margin: 0 auto;
  display: block;
  width: 100%;
}

div#header {
  background-image: url('../img/HeaderBG.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  float: left;
  clear: none;
}

div#content {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
  clear: both;
}

div#footer {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 100%;
  clear: both;
}

/* HEADER */
div#navigation {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
  text-align: center;
  clear: both;
}

div#navigation-sides {
  margin: auto;
  color: #FFFFFF;
  width: 39%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
}

div#navigation-center {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

img#logo {
  width: 90%;
}

/* BIO */
div#bio {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #C0C0C0;
  clear: both;
}

div#bio-content {
  width: 60%;
  float: left;
}

div#bio-image {
  padding: 10px 10px 10px 10px;
  border-style: solid;
  width: 30%;
  float: right;
}

img#profile-pic {
  width: 100%;
  height: 100%;
}

/* WORK */

div#work {
  clear: both;
}

/* body {
  background-color: #white;
  margin: 0;
}

div#content {
  background-color: #blue;
  width: 100%;
  height: 100px;
  text-align:center;
}

div#topbar {
  background-color: #202020;
  width: 100%;
  display: inline-block;
}

div#nav-container{
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}

div#nav-logo {
  text-align: center;
  margin: 0;
  padding: 0;
}

div#nav-menu {
  margin: 0;
  padding: 0;
  float: right;
  line-height: 70px;
}

ul#nav {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  display: inline-block;
}

ul.nav {
  margin: 0 auto;
  padding: 0 auto;
  list-style: none;
  vertical-align: bottom;
  display:inline-block;
}

ul.nav li {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  float: left;
}

ul.nav a {
  margin: 0;
  padding: 0;
  float: left;
  text-decoration: none;
  color: white;
  font: 12px Arial;
}

ul.nav a:hover {
  color: #FF8000;
}

#content {
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}

div#about {
}

div#about_content {
  float: left;
  max-width: 600px;
  text-align: left;
}

div#about_image {
  float: right;
}

img#wilbur {
  max-width: 100%;
  max-height: 100%;
}

/* ul.menu1
{
    padding:0;
    list-style-type: none;
    height: 26px;
}

ul.menu1 li
{ 
    border:1px solid #65A2DC;
    border-right:none;
    list-style-type: none;
    padding:0;margin:0;
    float:left;
    display: block;
    color:White;
}
ul.menu1 li.lastItem
{ 
    border-right:1px solid #65A2DC;
}

ul.menu1 li a
{
    padding: 0 20px;
    background-image: url(bg.gif);
    border:1px solid #DDECF9;
    border-top:1px solid #FFFFFF;
    color:White;
    text-align: left;
    text-decoration:none;
    display: block;
    float: left;
    font: bold 12px Arial;
    line-height: 26px;
}

ul.menu1 li a:hover, ul.menu1 li a.current
{
    background-position:0 -40px;
} */ */